// Custom styles.

// 设置透明度
body{
  background:url(/images/background-osu-2.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
}
.header-inner{
	opacity: 0.95;
}
.main-inner{
  opacity: 0.95;
}

// 设置代码折叠
.hider_title{
  font-family: "Microsoft Yahei";
  cursor: pointer;
}
.close:after{
  content: "展开代码 ▼";
}
.open:after{
  content: "收起代码 ▲";
}

.feed-link a{
  display: inline-block;
}