// toggle hider title
.hider_title {
    cursor: pointer;
    background: #eeeeee;
}

// toggle indicators
.close:before {
    padding-left: .5em;
    padding-right: .5em;
    content: "▼";
}
.open:before {
    padding-left: .5em;
    padding-right: .5em;
    content: "▲";
}

// 设置背景
body {
  background: url(/images/background-osu-2.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
}
.header-inner {
	opacity: 0.95;
}
.main-inner {
  opacity: 0.95;
}